.v-text-field input {
  font-size: 0.875rem;
}
.v-field__outline {
  color: rgb(var(--v-theme-inputBorder),0.5);
}
.inputWithbg {
  .v-field--variant-outlined {
    background-color: rgba(0, 0, 0, 0.025);
  }
}
