.authentication{
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        left: 0;
        top: 0;
        bottom: 0;
        background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0% / 400% 400%;
    }
}