.authentication{
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        left: 0;
        top: 0;
        bottom: 0;
        background: var(--v-theme-background);
    }
}