/* ------------------------------------------------------------------
 * [Table of contents]
 */
// # overwrite some style of SASS

/*------------------------------------------------------------------
 * [FontAwesome]
 */

/*------------------------------------------------------------------
 * [vuetify]
 */
$color-pack: true
@import '~vuetify/src/styles/main.sass'




/*------------------------------------------------------------------
 * [Components / Chat]
 */
.chat
  &-history
    &--toolbar
      box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
    &--list
      a.list__tile--active
        background: #eee
    &--scrollbar
      height: calc(100vh - 48px)
      @media #{map-get($display-breakpoints, 'sm-and-down')}
        height: calc(100vh - 48px - 56px)
  &-room
    &--toolbar
      box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
    &--scrollbar
      height: calc(100vh - 48px - 80px)

.v-input.search
  .v-input__slot
    margin-top: 8px
/*------------------------------------------------------------------
 * [Components / AppToolbar]
 */    
.app--toolbar
  .v-toolbar__extension
    padding: 0 !important