/* ------------------------------------------------------------------
 * [Table of contents]
 */
// # overwrite some style of SASS

/*------------------------------------------------------------------
 * [FontAwesome]
 */

/*------------------------------------------------------------------
 * [vuetify]
 */
$color-pack: true
@import '~vuetify/src/styles/main.sass'

.v-input.search
  .v-input__slot
    margin-top: 8px
/*------------------------------------------------------------------
 * [Components / AppToolbar]
 */    
.app--toolbar
  .v-toolbar__extension
    padding: 0 !important
